node_modules
dist
.turbo
.next
out
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET / C#
bin/
obj/
*.userprefs
TestResults/

# Electron / build
release/
build/
coverage/
.prisma/client
